{% extends "base.html" %}
{% block content %}
	<div class="txt">
		<h3>You should enter {{number_of_questions}} questions below:</h3>
	</div>
	<div class="input">
		<form action="{{url_for('success')}}", method="POST">
			{% for questions in range (numberOfQuestions) %}
			 <h3> question {{questions+1}}</h3>
			 <p>{{text[questions]}}</p>
			 <input type="radio" name="{{questions+1}}" value="Yes"> Yes<br>
 			 <input type="radio" name="{{questions+1}}" value="No"> No<br>
			{% endfor %}
			<br><br>
			<input type="submit" name="submit-questions">
			<p>{{amin}}</p>
		</form>
	</div>
{% endblock %}